<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yihu.microboot.dao.store.XeGoodsMapper">
  <resultMap id="BaseResultMap" type="cn.yihu.microboot.vo.goods.Goods">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shop_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cate_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loca_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="main_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="old_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="buy" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="taobao_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="recommend" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="hot" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="timer" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="timerstart" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="overtime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="inventory" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, shop_id, cate_id, loca_id, main_title, sub_title, price, old_price, buy, goods_img,taobao_url,recommend,hot,time,timer,timerstart,overtime,inventory
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xe_goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from xe_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.yihu.microboot.vo.store.XeGoods">
    insert into xe_goods (id, shop_id, cate_id, 
      loca_id, main_title, sub_title, 
      price, old_price, buy, 
      goods_img,taobao_url,recommend,hot,time,timer,timerstart)
    values (#{id,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{cateId,jdbcType=VARCHAR}, 
      #{locaId,jdbcType=VARCHAR}, #{mainTitle,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{oldPrice,jdbcType=DECIMAL}, #{buy,jdbcType=INTEGER}, 
      #{goodsImg,jdbcType=VARCHAR},#{taobaoUrl,jdbcType=VARCHAR},#{recommend,jdbcType=INTEGER},
      #{hot,jdbcType=INTEGER},#{time,jdbcType=INTEGER},#{timer,jdbcType=INTEGER},#{timerstart,jdbcType=TIMESTAMP},
      #{overtime,jdbcType=TIMESTAMP},#{inventory,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.yihu.microboot.vo.store.XeGoods">
    insert into xe_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="cateId != null">
        cate_id,
      </if>
      <if test="locaId != null">
        loca_id,
      </if>
      <if test="mainTitle != null">
        main_title,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="buy != null">
        buy,
      </if>
      <if test="goodsImg != null">
        goods_img,
      </if>
      <if test="taobaoUrl != null">
        taobao_url,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
      <if test="hot != null">
        hot,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="timer != null">
        timer,
      </if>
      <if test="timerstart != null">
        timerstart,
      </if>
      <if test="overtime != null">
        overtime,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        #{cateId,jdbcType=VARCHAR},
      </if>
      <if test="locaId != null">
        #{locaId,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null">
        #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="buy != null">
        #{buy,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null">
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUrl != null">
        #{taobaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="timer != null">
        #{timer,jdbcType=INTEGER},
      </if>
      <if test="timerstart != null">
        #{timerstart,jdbcType=TIMESTAMP}
      </if>
      <if test="overtime != null">
        #{overtime,jdbcType=TIMESTAMP}
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yihu.microboot.vo.store.XeGoods">
    update xe_goods
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="cateId != null">
        cate_id = #{cateId,jdbcType=VARCHAR},
      </if>
      <if test="locaId != null">
        loca_id = #{locaId,jdbcType=VARCHAR},
      </if>
      <if test="mainTitle != null">
        main_title = #{mainTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DECIMAL},
      </if>
      <if test="buy != null">
        buy = #{buy,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null">
        goods_img = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUrl != null">
        taobao_url = #{taobaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="timer != null">
        timer = #{timer,jdbcType=INTEGER},
      </if>
      <if test="timerstart != null">
        timerstart = #{timerstart,jdbcType=TIMESTAMP},
      </if>
      <if test="overtime != null">
        overtime = #{overtime,jdbcType=TIMESTAMP},
      </if>
      <if test="inventory != null">
        inventory = #{inventory,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yihu.microboot.vo.store.XeGoods">
    update xe_goods
    set shop_id = #{shopId,jdbcType=VARCHAR},
      cate_id = #{cateId,jdbcType=VARCHAR},
      loca_id = #{locaId,jdbcType=VARCHAR},
      main_title = #{mainTitle,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      old_price = #{oldPrice,jdbcType=DECIMAL},
      buy = #{buy,jdbcType=INTEGER},
      goods_img = #{goodsImg,jdbcType=VARCHAR},
      taobao_url = #{taobaoUrl,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      timer = #{timer,jdbcType=INTEGER},
      timerstart = #{timerstart,jdbcType=TIMESTAMP},
      overtime = #{overtime,jdbcType=TIMESTAMP},
      inventory = #{inventory,jdbcType=INTEGER},
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
     <select id="count_all" resultType="java.lang.Integer">
    select count(id)
    from xe_goods
  </select>
  
<!--   <select id="findpage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xe_goods
    limit #{param1,jdbcType=INTEGER},#{param2,jdbcType=INTEGER}
  </select> -->
  
  
  <select id="findall" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xe_goods
  </select>
</mapper>