<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yihu.microboot.dao.TaobaoLinkMapper">
  <resultMap id="BaseResultMap" type="cn.yihu.microboot.vo.TaobaoLink">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LinkName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Link" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, LinkName, Link, Remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_link
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from taobao_link
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.yihu.microboot.vo.TaobaoLink">
    insert into taobao_link (id, LinkName, Link, 
      Remark)
    values (#{id,jdbcType=VARCHAR}, #{linkname,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yihu.microboot.vo.TaobaoLink">
    insert into taobao_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="linkname != null">
        LinkName,
      </if>
      <if test="link != null">
        Link,
      </if>
      <if test="remark != null">
        Remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="linkname != null">
        #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yihu.microboot.vo.TaobaoLink">
    update taobao_link
    <set>
      <if test="linkname != null">
        LinkName = #{linkname,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        Link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yihu.microboot.vo.TaobaoLink">
    update taobao_link
    set LinkName = #{linkname,jdbcType=VARCHAR},
      Link = #{link,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="countLink" resultType="java.lang.Integer">
    select count(*)
    from taobao_link
    where Platform = #{param1,jdbcType=INTEGER}
  </select>
  <select id="findbyPlatform" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from taobao_link
    where Platform = #{param1,jdbcType=INTEGER}
    limit #{param2,jdbcType=INTEGER},#{param3,jdbcType=INTEGER}
  </select>
</mapper>